{% extends 'layouts/base.html'%}
{% load static %}
{% block content %}
      <!-- Section Services -->
      <section id="services" class="pages">
         <div class="jumbotron"  data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -80px;" data-bottom-top="background-position: 50% 80px;">
            <!-- Heading -->
            <div class="jumbo-heading"  data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -80px;" data-bottom-top="background-position: 50% 80px;" >
               <h1>Our Services</h1>
            </div>
         </div>
         <!-- container-->
         <div class="container">
            {% for i in our_service %}
            <div class="row">
               <div class="col-lg-7 my-auto">
                  <h2>{{ i.title }}</h2>
                  <p>{{i.sub_title}}</p>
                  <!-- ul custom-->
                  <ul class="custom no-margin">
                     <li>{{i.helping}}</li>
                  </ul>
               </div>
               <!-- /col-lg-7-->
               <div class="col-lg-5">
                  <img src="{{ i.photo.url }}" class="center-block img-fluid" alt="">
               </div>
               <!-- col-lg-5-->
            </div>
            {% endfor %}
            <!-- /row-->
            <div class="row p-3">
               <!-- Services -->
               <div class="slider-3">
                  <!-- Feature Box 1  -->
                  {% for obj in about_petz%}
                  <div class="col-12">
                     <div class="box_icon m-3">
                        <div class="icon">
                           <!-- icon -->
                           <div class="image">
                              <img src="{{ obj.img.url}}" class="img-fluid" alt="">
                           </div>
                           <div class="info">
                              <h4>{{ obj.to_do}}</h4>
                              <p>{{obj.about_petz}}</p>
                              <!-- Button-->
                              <a class="btn" href="services-single.html">Read More</a>
                           </div>
                        </div>
                     </div>
                     <!-- /box_icon -->
                  </div>
                  {% endfor %}
                  <!-- /col-12 ends -->
                     <!-- /box_icon -->
                  </div>
                  <!-- /col-12 ends -->
               </div>
               <!-- /slider -->
            </div>
            <!-- /row -->
         </div>
         <!-- /container -->
      </section>
      <!-- /Section ends -->
{% endblock %}